<ion-view view-title="Chen Wang">
  <ion-content class="padding">
     <div>
          <div class="list card">
            <div class="list">
              <div class="item row">
                  <div class="col">
                      <label class="item-input item-floating-label">
                       <span class="input-label">Username</span>
                        <input id="username" type="text" placeholder="Username" ng-model="user.username" required="required" >
                      </label>
                  </div>
                </div>
                <div class="item row">
                  <div class="col"> 
                       <label class="item-input item-floating-label">
                           <span class="input-label">Password</span>
                            <input id="password" type="password" placeholder="Password" ng-model="user.password" required="required" >
                      </label>
                      </div>
                </div>   
              </div>
         </div>   
    <button type="submit" class="button button-block button-positive" ng-click="validate(user.username, user.password)">Login</button>
   
    <p > {{msg}}</p>
    <div align="center">
      <p>No account? </p><a href="#/tab/dash/Register">Click here to create it</a>
    </div>
  </ion-content>
</ion-view>
